<div id="daily-btns">
    <button type="submit" class="button is-link is-pulled-right" name="submit" id="submit">Submit</button>
    <button class="button is-link is-pulled-right" id="cancel">Cancel</button>
</div>

<script src="/js/daily.js"></script>

ADD FORM FOR DAILY ENTRY