
<div>
    <h6 class="pb-4 has-text-centered is-italic">You do not have any trips yet</h6>
    <a href="/api/trip-details/{{trip.id}}/add-daily"><button id="add-daily-btn" class="button is-warning is-pulled-right">add daily notes</button></a>


{{places_visited}}
{{daily_notes}}

</div>