<nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <a href="/dashboard">Dashboard</a>
    <button id="logout" class="logout_button">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Register</a>
    {{/if}}
  </nav>