<body style="background-img: url('/public/images/travelblog_bg-2000.png'); background-size: cover;">
<h1 class="splash-title">TRAVEL BLOG</h1>
<button type="submit" name="toDashboard" id="toDashboard">Login</button>
</body>