{{!-- <h1>ADD TRIP</h1>
<button type="submit" class="button is-link is-pulled-right" name="submit" id="submit">Submit</button>
<button class="button is-link is-pulled-right" id="cancel">Cancel</button>

<script src="/js/add-trip.js"></script> --}}

{{!-- delete --}}