<section>
  <!--<a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>-->
  <a href="/dashboard"><button class="button is-primary is-pulled-right">Back to Dashboard</button></a>
  <h2 class="title">Create new trip:</h2><hr>

  <form class="new-trip-form">
    <div>
      <label for="trip-title">Title:</label>
      <input class="input" type="text" id="trip-title" name="trip-title" placeholder="Insert trip title here"/>
    </div>
    <div>
      <label for="trip-content">Content:</label>
      <input class="textarea" id="trip-content" name="trip-content" placeholder="Insert trip content here"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">create trip</button>
  </form>
</section>

<script src="/js/add-trip.js"></script>