<h1>DAILY POST</h1>

<button type="submit" class="button is-link is-pulled-right" name="submit" id="submit">Submit</button>
<button class="button is-link is-pulled-right" id="cancel">Cancel</button>
{{> upload}}

<script src="/js/daily.js"></script>