<!--
<h1>DASHBOARD</h1>

<button id="get-trip">this trip</button>
<button id="add-trip">add trip</button>
-->

    <!-- 
      If a logged-in user has posts, show them.
      If a logged-in user does not have a post, just show "create Post" button to create one.
      --> 
    <div class="mb-5 pt-3">
      <a href="/dashboard/create/"><button id="create-trip" class="button is-link is-pulled-right">create trip</button></a>
        
      <h2 class="title pb-4">Your dashboard: followings are your posts:</h2><hr>
{{#if trips.length}}
    </div>

    <div  class="trip">
    {{#each trips as |trip|}}
      {{> trip-info trip}}
      {{!-- <a href="/dashboard/edit/{{trip.id}}"><button id="edit-trip-btn" class="button is-warning is-pulled-right">edit trip</button></a> --}}
    </div>
  	{{/each}}
{{else}}
<h6 class="pb-4 has-text-centered is-italic">You do not have any trips yet</h6>

{{/if}}