<!-- this is the update by Jungwoo utilizing "partials" -->
<!-- I will include "trip-info.handlebars" right away -->
<div class="trip">

  {{#each trips as |trip|}}
  <!-- 
    If click on this "div", redirect to localhost:3003/login & show login page 
    However, in each level another direct is defined for each purpose, so, take a look at each child level for more detail.
  -->
    <a href="/login">
    <!-- Insert: views/partials/trip-info.handlebars-->
    {{> trip-info trip}}
    </a>
  {{/each}}
</div> <!-- this will close "<div class="trip"> -->
