{{> trip-info trip}}

<!-- only display for a logged-in user -->
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea class="textarea" name="comment-body" placeholder="your comments here:" rows="5"></textarea>
  </div>

  <div>
    <button class="button is-info is-pulled-right" type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> comments trip.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}