<h2>Create Trip</h2>

<form class="form trip-form">
    <div class="form-group">
        <label for="country-log">country</label>
        <input class="form-input" type="text" id="country-log" />
    </div>
    <div class="form-group">
        <label for="title-log">Title of Trip</label>
        <input class="form-input" type="text" id="title-log" />
    </div>
    <div class="form-group">
        <label for="description-log">description</label>
        <input class="form-input" type="text" id="description-log" /> 
    </div>
    
{{!-- need to add image upload format --}}

    <div class="form-group">
        <button class="btn btn-primary" type="submit">post</button>
    </div>
</form>