<h1 style="font-size: 2rem; margin-left: 2rem;">Upload successful!</h1>

<button class="button is-warning is-pulled-right"><a href="/dashboard" style="text-decoration: none">Back to Dashboard</a></button>
