:root {
  /* 
   --primary: #3d5852;
   --secondary: #86938f;
   --tertiary: #5e877f;
   --quatrinary: #6c6b67;
   --light: #e3e4e3;
   --dark: #182c23;
   --error: rgb(228, 46, 1);
   --border-radius: 0.3rem;
 */
   --light_blue: #CDDAEB;
   --dark_blue: #152A44;
   --light_purple: #7C74FE;
   --dark_purple: #660000;
   --grey: #F2F1EC;
   --white: #FFFFFF;
   --border-radius: 0.3rem;
 }
 
 header {
   margin: 0;
   text-align: left;
   background: var(--light_blue);
   padding-top: 10px;
   padding-bottom:10px;
 }
 .blog_title {
   padding-top: 20px;
   padding-bottom: 20px;
   width: 100%;
   /*background: var(--light_blue);*/
   color: var(--dark_blue);
   text-align: center;
   font-size: 2.0em;
   font-weight: 900;
   /*border: 5px blue;*/
   /*border-radius: 10px 10px 10px 10px;*/ /* [top_left, top_right, lower_right, lower_left] */
   /*box-shadow: 7px 7px 0px 0px red;*/ /* [horizontal_offset, vertical_offset, blur_radius, spread, color] */
 }
 .hike_logo{
  height: 90px;
  padding-left: 20px;
 }
 img {
  float: left;
 }
 nav {
   display: flex;
   background-color: var(--dark_blue);
 }
 nav a {
   font-size: 1.1em;
   font-weight: bold;
   color: var(--white);
   padding: 14px 20px;
   text-decoration: none;
   text-align: center;
 }
 nav a:hover {
   background-color: var(--light_purple);
 }
 
 .logout_button {
   font-size: 1.1em;
   font-weight: bold;
   color: var(--white);
   padding: 14px 20px;
   text-decoration: none;
   text-align: center;
   background-color: var(--dark_blue);
 }
 .logout_button:hover{
   background-color: var(--light_purple);
 }
 
 main {
   flex: 1;
   /*padding: 2% 10%;*/ /* I prefer explict method */
   padding-top: 2%;
   padding-bottom: 2%;
   padding-left: 20px;
   padding-right: 20px;
   
   background-color: var(--white);
   /*
   display: flex;
   flex-wrap: wrap;
   flex-grow: 1;
   */
 
 }
 
 body {
   font-family: Arial;
   margin: 0;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   justify-content: flex-start;
   /* background-color: var(--quatrinary); */
   background: url("/images/travelblog_bg-2000.png")
 }
 
 .trip {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
 }
 .each_trip{
   /*display: flex;*/
   flex-direction: column;
   justify-content: center;
   align-items: stretch;
   /*flex-wrap: wrap;*/
   border: 1px solid var(--dark_blue);
   /* this is same as above
   border-style: solid;
   border-width: 1px;
   border-color: var(--dark_blue);
   */
   padding: 0px;
   margin: 10px;
 
   margin-top: 1em;
   margin-bottom: 1em;
   max-width: 100%;
   width: 30%;
   height: 400px;

   position: relative;
   background-color: var(--light_blue);
 }
 .each_trip_title{
   background-color: var(--light_purple);
   /*background-color: var(--light_purple);*/
   color: var(--white);
   font-weight: bold;
   padding: 10px;
 }
 .each_trip_body{
   background-color: var(--white);
   padding: 10px;
 }
 .align_right {
   padding: 5px;
   text-align: right;
   background-color: var(--grey);
   /*float: right;*/
 }
 
 a {
   color: var(--dark);
   text-decoration: none;
 }
 
 
 
 
 
 
 
 
 .login-card {
   margin: 0 0 20px 0;
   flex: 0 0 50%;
   max-width: 30%;
   padding: 5px;
   border: 3px solid var(--dark_blue);
   border-radius: var(--border-radius);
   border-style: double;
   border-width: thick;
   background-color: var(--light_blue);
   color: black;  
 }
 
 
 .card {
   margin: 20px;
   flex: 0 1 300px;
   border: 7px double var(--dark);
   border-radius: 10px;
   background-color: var(--light);
   color: var(--dark);
 }
 
 .card header {
   color: var(--light);
   font-weight: bold;
   text-transform: uppercase;
   margin: 0;
   background-color: var(--tertiary);
   padding: 0.625rem;
   border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
 }
 
 .card-body {
   font-size: 1.4rem;
   text-align: center;
   font-weight: bold;
 }
 
 .comment {
   padding: 1%;
   margin-bottom: 0.2%;
   background-color: wheat;
 }
 .comment .meta {
   font-size: 90%;
   margin-bottom: .5%;
   opacity: .6;
 }
 
/* button {
  background-color: #748C3F;
 } */
 #edit-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
 }

 #btn-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0.5rem;
 }

 #trip-data {
  margin: 0.4rem;
 }

 #save-trip-btn {
  margin-right: 0.6rem;
 }

 #edit-trip-btn {
  margin-top: 0.4rem;
 }

 #create-trip-btn {
  margin-top: 0.4rem;
 }
 